.searchbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 26px;
	width: 100%;
}

.search {
	position: relative;
	border-radius: 100em;
	height: fit-content;
	width: calc(fit-content + 2em);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.searchIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: fit-content;
	height: 1.75em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0.5em;
	opacity: 0.5;
}

.search > input {
	position: relative;
	border-radius: 100em;
	outline: none;
	/* border: 1px solid white; */
	border: none;
	padding: 0.5em 1em;
	padding-left: 3em;
	font-size: 22px;
	font-weight: 500;
	background-color: var(--primary-clr);
	outline: 1px solid rgb(255, 115, 29);
}

.search:focus {
	outline: 3px solid rgb(255, 115, 29);
}

.search::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #FF731D;
	border-radius: inherit;
	filter: blur(150px);
	/* transform: scale(1.5); */
	z-index: -1;
}

.usersearch {
	position: relative;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	/* background: #ffefba; 
	background: -webkit-linear-gradient(
		to right,
		#ffffff,
		#ffefba
	);
	background: linear-gradient(
		to right,
		#ffffff,
		#ffefba
	);

	border-radius: 1em;
	background-size: 1600% 1600%;
	background-position: 0% 0%;
	animation: background-animate 3s linear alternate infinite; */
	z-index: -2;
}

@keyframes background-animate {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

.usersearch::after {
	/* content: "";
	position: absolute;
	top: 1%;
	left: 0.5%;
	height: 98%;
	width: 99%;
	background-color: var(--primary-clr);
	border-radius: inherit;
	z-index: -1; */
}

.searchtime {
	font-size: 12px;
}

.searchtitle {
	font-size: 36px;
	font-weight: 600;
}

.section {
	/* background-color: var(--primary-clr); */
	padding: 2.5em 2em;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	gap: 2em;
	width: 100%;
	max-width: 360px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1em;
}

.body,
.piechartbody {
	display: flex;
	flex-direction: column;
	font-weight: 600;
	height: 100%;
}

.piechartbody {
	gap: 2em;
}

.list {
	margin: auto 0;
	list-style-type: circle;
	background-color: var(--secondary-clr);
	border-radius: 1em;
	padding: 0.6em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.34);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(11.6px);
	-webkit-backdrop-filter: blur(11.6px);
}

.numbers {
	background-color: var(--primary-clr);
	padding: 0 0.5em;
	border-radius: 100em;
}

.score {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.score > h4 {
	font-size: 0.75em;
	margin: 0;
}

.score > h1 {
	font-size: 3em;
	line-height: 1em;
	margin: 0;
}

.piechart {
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsmarquee {
	--gap: 1em;
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	padding-right: var(--gap);
	max-height: 500px;
}

.news,
.meme {
	position: relative;
	background-color: #5F9DF7;
	padding: 1.5em 1em;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
}

.news {
	max-width: 200px;
	max-height: 100%;
	gap: 1em;
}
/* 
.news:last-child{
	margin-top: auto;
	margin-bottom: 0;
} */

.meme {
	gap: 0.5em;
	height: 100%;
	background-color: var(--primary-clr);
	/* -webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px); */
	z-index: 0;
}

.meme > p {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	height: 3em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.news > p {
	margin: 0;
	font-size: 12px;
	/* font-weight: 400;
	height: 3em; */
	text-overflow: ellipsis;
	overflow: hidden;
}

.news > h2,
.meme > h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.news > small,
.meme > small {
	margin: 0;
	font-size: 10px;
	font-weight: 200;
}

.news > a,
.meme > a {
	background: #FF731D; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#FF731D,
		#FF8B13
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#FF731D,
		#FF8B13
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 0.75em 1.5em;
	border-radius: 1em;
	text-align: center;
	text-decoration: none;
	margin-top: 1em;
}

.meme > img {
	margin: auto;
	max-width: 400px;
}

.memes {
	position: relative;
	display: flex;
	gap: 1em;
	overflow-x: scroll;
	scrollbar-width: 5px;
	width: 100%;
	max-height: min-content;
}

/* width */
.memes::-webkit-scrollbar {
	height: 15px;
}

.memes::-webkit-scrollbar-track {
	border: 5px solid var(--secondary-clr);
	background-color: #a2a2a2;
	border-radius: 100em;
}

/* Handle */
.memes::-webkit-scrollbar-thumb {
	border: 5px solid var(--secondary-clr);
	background-color: var(--primary-clr);
	/* box-shadow: inset 0 0 0 5px white, 
				inset 0 0 0 200px black; */
	border-radius: 100em;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: inherit;
	z-index: -1;
	filter: blur(10px) brightness(0.1) opacity(0.25);
}
