.searchbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 26px;
	width: 100%;	
}

.search {
	border-radius: 100em;
	outline: none;
	border: 1px solid white;
	padding: 0.5em 1em;
	width: 40%;
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	background-color: var(--primary-clr);
}

.search:focus {
	outline: 3px solid white;
}

.usersearch {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.searchtime{
	font-size: 12px;
}

.searchtitle{
	font-size: 36px;
	font-weight: 600;
}

.section {
	background-color: var(--primary-clr);
	padding: 2.5em 2em;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	gap: 2em;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1em;
}

.body, .piechartbody{
	display: flex;
	flex-direction: column;
	font-weight: 600;
	height: 100%;
}

.piechartbody{
	gap: 2em
}

.list {
	margin: auto 0;
	list-style-type: circle;
	background-color: var(--secondary-clr);
	border-radius: 1em;
	padding: 0.6em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.numbers {
	background-color: var(--primary-clr);
	padding: 0 0.5em;
	border-radius: 100em;
}

.score {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.score > h4 {
	font-size: 0.75em;
	margin: 0;
}

.score > h1 {
	font-size: 3em;
	line-height: 1em;
	margin: 0;
}

.piechart {
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsmarquee {
	--gap: 1em;
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	padding-right: var(--gap);
}

.news,
.meme {
	position: relative;
	background-color: var(--primary-clr);
	padding: 1.5em 1em;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
}

.meme{
	gap: 0.5em
}

.news > p,
.meme > p {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
}

.news > h2,
.meme > h2{
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.news > small,
.meme > small{
	margin: 0;
	font-size: 10px;
	font-weight: 200;
}

.news > a,
.meme > a {
	background-color: rgb(69, 110, 126);
	padding: 0.75em 1.5em;
	border-radius: 1em;
	text-align: center;
	text-decoration: none;
	margin-top: 1em;
}

.memes {
	display: flex;
	gap: 1em;
	overflow-x: scroll;
	scrollbar-width: 5px;
	width: 100%;
}

/* width */
.memes::-webkit-scrollbar {
	height: 15px;
}

.memes::-webkit-scrollbar-track{
	border: 5px solid var(--secondary-clr);
	background-color: #a2a2a2;
	border-radius: 100em;
}

/* Handle */
.memes::-webkit-scrollbar-thumb {
	border: 5px solid var(--secondary-clr);
	background-color: var(--primary-clr);
	/* box-shadow: inset 0 0 0 5px white, 
				inset 0 0 0 200px black; */
	border-radius: 100em;
}
