@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-clr: #181818;
    --secondary-clr: rgb(40, 40, 40);
}

*{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--secondary-clr);
}

#app{
    min-height: calc(100vh - 00px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    padding: 50px 100px;
}